<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${persona.id == null ? 'Nueva Persona' : 'Editar Persona'}"></h1>
    <form th:action="@{/personas}" th:object="${persona}" method="post">
        <input type="hidden" th:field="*{id}">
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" th:field="*{nombre}" id="nombre">
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" th:field="*{apellido}" id="apellido">
        <br>
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email">
        <br>
        <label for="telefono">Telefono:</label>
        <input type="text" th:field="*{telefono}" id="telefono">
        <br>
        <label for="direccion">Direccion:</label>
        <input type="text" th:field="*{direccion}" id="direccion">
        <button type="submit">Guardar</button>
    </form>
    <a href="/personas">Lista</a>
</body>
</html>